{% if lecture_list %}
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
        </tr>
        </thead>
        <tbody>
        {% for lecture in lecture_list %}
        <tr>
            <td>
                {{ lecture.category }}
            </td>
            <td>
                <a>{{ lecture.name }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>Loading</h2>
{% endif %}